.navbar {
    background-color: transparent;
    color: #fff;
}

img {
    width: 30px;
    height: 30px;
}

#buttons{
    float: right;
}

#logo {
    margin-left: 15px;
    
}

#login{
    margin-top: 7px;
    margin-left: 7px;
    float: right;
}

#register{
    margin-top: 7px;
    margin-left: 7px;
    float: right;
}

