.navbar {
    background-color: #10CD94;
    color: #fff;
    padding: 0 important;
}

img {
    width: 40px;
    height: 40px;
}

#buttons{
    margin: 10px;
    float: right;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

#logo {
    margin-left: 15px;
    
}

#login, #register{
    margin: 7px 10px;
}

#loginicon, #registericon{
    margin-left: 4px;
}