#businessHeader{
    color: #FFF;
    width: auto;
    height: fit-content;
}

#ratingCard{ 
    color: #FFF;
    width: auto;
    height: fit-content;
    margin-left: 20px;
}

#value, #quality, #loc{
    color:black !important;
    text-indent: 10px;
    font-size: 20px;

}

#totalrev, #busname{
    color:black !important;
    text-indent: 10px;
    font-size: 20px;

}

#totalrev{
    margin-left: 500px;
    margin-top: -33px;
}

#textHead{
    color: white!important;
}


#writeRev{
    width: auto;
    margin-left: 20px !important;
    
}

#img1{
    width: auto;
    margin-left: 20px !important;
    margin-top: 10px;
}
#reviewimg, #ratings, #writtenReview{
    width: auto;

}

#review{
    margin-left: 1400px;
}

.Rate {
    color: lightblue !important;
    margin-left: 10px;
  }
  
.Rate:hover {
    color: orange !important;
  }

.topStar1{
    color: lightblue !important;
    margin-left: 30px;
}
.topStar1:hover {
    color: orange !important;
  }

.topStar2{
    color: lightblue !important;
    margin-left: 40px;
}
.topStar2:hover {
    color: orange !important;
  }

.topStar3{
    color: lightblue !important;
    margin-left: 104px;
}

.topStar3:hover {
    color: orange !important;
  }

#star1, #stars{
    color: orange;

}
#star1{
    margin-left: 500px;
}

#totalstar{
    color: black;
    margin-left: 650px;
    margin-top: -35px;
}