.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  backdrop-filter: blur(10px);
  filter: blur(4px);
  z-index: 0;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.overlay {
    position:absolute;
    top:50px;
    left:50px;
}


.regCard {
width: 50% !important;
height: 600px !important;
background-color: #D9F3EB;
justify-content: center;
align-self: center;
margin: 50px auto;
padding: 0 auto;
color: #00593E;
}

#close{
  color: #00593E !important;
  font-size: 15px;
  position:absolute;
  top: 5px;
  left: 10px;

}

h2, p {
  color: #00593E !important;
}

#underline{
  text-decoration: underline;
  color: #00593E !important;
}

input{
  color: #00593E !important;
  margin-top: 15px !important;
  border: 1px solid #fff !important;
}


#date, #phone{
  width: auto;
}

#email, #password, #firstname, #lastname{
  width: 76% !important;
}

#passwordpolicy{
  margin-top: 10px;
}

p{
  font-size: 9px;
  text-align: center;
}


/* Extra small devices (phones, 768px and down) */

@media only screen and (max-width: 740px) {

  .loginCard {
    width: 80% !important;
    height: 500px !important;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    margin: 100px 50px 50px 50px;
  
    }

  input{
    width: 60% !important;
    margin: 5px;
    border: 1px solid #fff !important;
   }

   h2, p, h5{
    font-size: 13px !important;
  }
}


@media (min-width: 740px) and (max-width: 1024px) {

  .loginCard {
    width: 80% !important;
    height: 400px !important;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    margin: 100px 50px 50px 50px;
    font-size: 15px;
    }

 input{
  width: 60 !important;
  margin: 5px;
  border: 1px solid #fff !important;
 }

}