#card-title {
    margin: 10px;
}

#card-subtitle{
    font-size: 15px;
}

#filterParent{
    margin: 20px;
}

h6{
    margin: 8px;
    color: #00593E;
    display: inline-block;
}

h6:active{
    color: #fff;
}

#FilterPane{
    width:auto;
    height:fit-content;
    background-color: #10CD94;
    margin: 20px;
    color: #fff;
    border-radius: 5px;
}

#filterhead {
    margin: 0 10px 10px 10px;
}
